body{
    margin: 0;
}

/* fonts etc etc */

@font-face {
    font-family: Spotify;
    src: url(..//fonts/spotify/CircularSpotifyText-Medium.otf);
}

@font-face {
    font-family: Forest;
    src: url(..//fonts/forest/Arial\ Greek\ Regular.ttf);
}


/* CSS for the header */



a {
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 28px;
    
}


/* CSS Index */

.main-index {
    font-family: "Montserrat";
    
}

.three-columns {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 87.5vh;

}

.spotify-column {
    background-color: black;
    color: #1ED760;
    font-family: Spotify;
    
}

.forest-column {
    background-color: #DEFF99;
}

.mimo-column {
    background-color: #252746;
    color: white;
}

.logo-column {
    width: 5vw;
    display: flex;
    margin-left: 40%;
}

.app-button-spotify {                                 
    display: block;
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #1ED760;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
    margin-left: 30%;
    margin-top: 2px;
    
    
}

.app-button-spotify:hover {                               
    transform: scale(1.1); 

}

.text-index {
    margin-left: 5px;
    margin-right: 5px ;
}

.app-button-forest {                               
    display: block;
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #724406;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
    margin-top: 20px;
    margin: auto;
}

.app-button-forest:hover {                                
    transform: scale(1.1); 

}

.app-button-mimo {                                 
    display: block;
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2DC6FF;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
    margin-top: 17px;
    margin: auto;
}

.app-button-mimo:hover {                                
    transform: scale(1.1); 

}



/* CSS for Spotify */




.body-spotify {
    background-color: black;
    color: white;
    font-family: Spotify;
    margin-left: 25px;

}

.spotify-white {
    width: 10vw; 
    margin-top: 25px;
}

.titre-spotify {
    color: #1ED760;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: auto;
    transition: transform 0.3s ease;
}

.timeline:hover{
  transition: all .3s ease-in;
  transform: scale(1.30);
}


.button-index {                                 
    display: block;
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #1ED760;
    color: black;
    text-decoration: none;
    border-radius: 40px;
    transition: all 0.3s ease;
    border-color: white;
    margin-left: 30vw;
    
    
    
    
    
}

.button-index:hover {                                
    transform: scale(1.1); 

}

.header-spotify {
    display: flex;
    align-items: center;
    
}

.link-web {
    color: #1ED760;
}

.screen-dailyMix {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

   
}

/* CSS for Forest */

.body-forest {
    font-family: Montserrat;
}